// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/css/fontawesome';
@import '~@fortawesome/fontawesome-free/css/regular';
@import '~@fortawesome/fontawesome-free/css/solid';


.activity-item {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .inline {
            display: flex;
            flex-direction: row;

            div {
                margin-left: 4px;
                margin-right: 4px;
            }
        }
    }
}
