// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.activity-item {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .inline {
            display: flex;
            flex-direction: row;
        }
    }
}
