.neon-title {
    font-size: 3.5rem;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;

    color: #fff;
    font-family: Audiowide, Menlo, ui-monospace, SFMono-Regular, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
}

.neon-title:hover {
    color: #02c2a9;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}

@-webkit-keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #02c2a9, 0 0 70px #02c2a9, 0 0 80px #02c2a9, 0 0 100px #02c2a9, 0 0 150px #02c2a9;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #02c2a9, 0 0 35px #02c2a9, 0 0 40px #02c2a9, 0 0 50px #02c2a9, 0 0 75px #02c2a9;
    }
}

@-moz-keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #02c2a9, 0 0 70px #02c2a9, 0 0 80px #02c2a9, 0 0 100px #02c2a9, 0 0 150px #02c2a9;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #02c2a9, 0 0 35px #02c2a9, 0 0 40px #02c2a9, 0 0 50px #02c2a9, 0 0 75px #02c2a9;
    }
}

@keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #02c2a9, 0 0 70px #02c2a9, 0 0 80px #02c2a9, 0 0 100px #02c2a9, 0 0 150px #02c2a9;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #02c2a9, 0 0 35px #02c2a9, 0 0 40px #02c2a9, 0 0 50px #02c2a9, 0 0 75px #02c2a9;
    }
}

/*REEEEEEEEEEESPONSIVE*/
@media (min-width: 640px) {
    .neon-title {
        font-size: 7rem;
    }
}
